{% extends "layout.html" %}
{% block title %}enrollment{% endblock %}

{% block head %}
     {{ super() }}
{% endblock %}
{% block content %}

    {{ super() }}

    {% if catalogs %}
        {% for catalog in catalogs %}
        <div class="card mt-3">
            <div class="card-body clearfix">
                <img src="{{ catalogs[catalog][0] }}" alt="">
                <div class="card-content">
                    <h4>{{ catalog }}</h4>
                    <span>{{ catalogs[catalog][2] }}</span>
                    <form  action="{{url_for('enrollment', key=catalogs[catalog][1])}}" method="post">
                            <input class="btn btn-primary button m-2" type="submit" value="Enroll">
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}

    {% else %}

        <div class="card mt-3">
            <div class="card-body clearfix">
                <div class="card-content">
                    <h4>There are no programs available</h4>
                </div>
            </div>
        </div>

    {% endif %}

    {% block script %}
        {{ super() }}
    {% endblock %}
{% endblock %}
